  <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" >
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link link-dark">
            <i class="fas fa-box"></i>
          Realizar Pedidos
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
            <i class="fas fa-truck-loading"></i>
          Rastrear Pedidos
        </a>
      </li>
     
      <li>
        <a href="#" class="nav-link link-dark">
            <i class="fas fa-edit"></i>
          Editar Dados
        </a>
      </li>
    </ul>
  </div>