@import "~bootswatch/dist/Pulse/variables.scss";
@import "~bootstrap/scss/bootstrap.scss";
@import "~bootswatch/dist/Pulse/bootswatch.scss";

.d-flex.flex-column.flex-shrink-0.p-3{
    width: 20vw;
    height: 88vh;
    display: block;
    float: left;
}

.nav-link.link-dark:hover {
    background-color: $primary;
    color:  white;
}