<app-auth></app-auth>
<div class="row">
    <div class="col-md-4 offset-md-4 mt-4">
        <h3>Reset Password</h3>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <div class="form-group">
                <label for="username">Account Email</label>
                <input type="email" class="form-control" name="email" ngModel required #email="ngModel"
                    placeholder="Enter Email">
            </div>
            <br />
            <a [routerLink]="['/login']" routerLinkActive="router-link-active" class="btn btn-outline-primary" style="float: left;">Login Your Account</a>
            <button type="submit" [disabled]="f.invalid" class="btn btn-primary" style="float: right;">Reset Password</button>
        </form>
    </div>
</div>