<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="router-link-active">
      <img src="assets/img/logo.png" width="40" height="40" alt="logo">
      Transportadora Vieir4ndo
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbar-list-4">
      <ul class="navbar-nav header-pointer">
        <li class="nav-item dropdown" dropdown>
            <a dropdownToggle class="nav-item nav-link dropdown-toggle">
            <img src="{{authService.currentUser!.profileImageUrl}}" width="40" height="40" class="rounded-circle">
          </a>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" [routerLink]="['/profile']"
                        routerLinkActive="router-link-active">Profile</a>
            <a class="dropdown-item">Settings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logout();">Sign out</a>
          </div>
        </li>   
      </ul>
    </div>
  </nav>