.navbar.navbar-expand-lg.navbar-dark.bg-primary{
    padding-left: 2vw;
    padding-right: 2vw;
    height: 12vh;
}
.header-pointer li {
    cursor: pointer;
}
.bg-custom-1 {
    background-color: #85144b;
  }
  
  .bg-custom-2 {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  }

