<app-auth></app-auth>
<div class="row">
    <div class="col-md-4 offset-md-4 mt-4">
        <h3>Change Password</h3>
        <form #f="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="changePassword">Enter New Password</label>
                <input type="password" class="form-control" name="changePassword" [(ngModel)]="model.password" required
                    #password="ngModel" placeholder="Enter New Password">
            </div>
            <br />
            <a [routerLink]="['']" routerLinkActive="router-link-active" class="btn btn-outline-primary" style="float: left;">Login Your Account</a>
            <button type="submit" [disabled]="f.invalid" class="btn btn-primary" style="float: right;">Change Password</button>
        </form>
    </div>
</div>