<app-auth></app-auth>
<div class="row">
    <div class="col-md-4 offset-md-4 mt-4">
        <h3>Login</h3>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username" ngModel required #username="ngModel"
                    placeholder="Enter Username">
            </div>
            <br />
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" ngModel required #password="ngModel"
                    placeholder="Password">
            </div>
            <br />
            <div class="form-group">
                <a [routerLink]="['/reset-password']">Forgot Password?</a>
            </div>
            <br />
            <a [routerLink]="['/register']" routerLinkActive="router-link-active" class="btn btn-outline-primary" style="float: left;">Create Account</a>
            <button type="submit" [disabled]="f.invalid" class="btn btn-primary"  style="float: right;">Sign in</button>
        </form>
    </div>
</div>