@import "~bootswatch/dist/Pulse/variables.scss";
.profile-image {
    text-align: center;
  }
.col.profile-image{
  float: top;
}

.col.form-group {
  float: bottom;
}

.col.profile{
  display: block;
  height: auto;
}
  