
<app-dashboard></app-dashboard>
<div class="row">
        <div class="row home-main column">
            <h3>Transportadora Vieir4ndo</h3>
            <p>The project Transportadora Vieir4ndo is an administrative WEB application to manage a fictitious shipping
                company office. It allows the user to maintain workers, vehicles, packages, and their tracking. Firstly
                thought as a project for the system analysis subjects of the computer science technician course, and later
                implemented in Angular, .NET and SQLServer as a way to gain knowledge.</p>
        </div>
        <div class="row home-main column">
            <img src="assets/img/computer.png" alt="">
        </div>
</div>