<app-auth></app-auth>
<div class="row">
    <div class="col-md-4 offset-md-4 mt-4">
        <h3>Confirm Email</h3>
        <form #f="ngForm" (ngSubmit)="onSubmit()">
            <label for="submit">Click on the button below to confirm your e-mail</label>
            <br /><br />
            <a [routerLink]="['']" routerLinkActive="router-link-active" class="btn btn-outline-primary" style="float: left;">Login Your Account</a>
            <button type="submit" class="btn btn-primary"  style="float: right;">Confirm email</button>
        </form>
    </div>
</div>